.navbar {
    overflow: hidden;
    position: fixed;
    background-color: #344d90;
    top: 0;
    width: 100%;
  }
  .button{
    transition: background-color 0.5s, transform 0.5s;;
  }
  .button:hover {
    color: #f5924c;
    background-color: #fff;
    border: 2px solid #f5924c; 
}
.intro{
    height: 400px;
    width: 100%;
    background-image: url("../images/video-img.png");
    background-repeat: no-repeat;
    background-position: center;
}
.head-intro{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.intro-1{
    margin: 20px 50px 0px 50px;
}
.intro-2{
    margin: 0px 75px;
}
.first-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.first1{
    width: 50vw;
}
.first2{
    width: 50vw;
}
.second-section{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.second1{
    width: 50vw;
}
.second2{
    width: 50vw;
}
.third-section{
    background-color: whitesmoke;
}
.tail-section{
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.tail1{
    width: 50vw;
}
.tail2{
    width: 50vw;
}
@media only screen and (max-width: 768px) {
    .tail1{
        width: 70vw;
    }
    .tail2{
        width: 30vw;
    }
}
@media only screen and (max-width: 480px) {
    .navbar {
        overflow: hidden;
        position: fixed;
        background-color: #344d90;
        top: 0;
        width: 100%;
      }
    .head-intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .intro-1{
        margin: 20px 50px 0px 50px;
    }
    .intro-2{
        margin: 0px 75px;
    }
    .first-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;;
    }
    .first1{
        width: 100vw;
        margin-top: -80px;
    }
    .first2{
        width: 100vw;
    }
    .second-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .second1{
        width: 100vw;
    }
    .second2{
        width: 100vw;
    }
    .tail-section{
        display: flex;
        flex-direction: row;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .tail1{
        width: 100vw;
    }
    .tail2{
        width: 100vw;
    }
}